/* ****************** */
/*    Days Chooser    */
/* ****************** */

.day-container {
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day-item {
    height: 64px;
    flex-basis: 64px;
    flex-grow: 1;
    text-align: center;
}

.day-item a {
    text-decoration: none;
    color: black;
}

.day-item a:hover {
    color: #4DAF50;
}

.day-item a:hover p {
    font-weight: 500;
}

.day-item a:active {
    color: #388E3C;
}

.day-item a img {
    display: inline-block;
    padding: 20px 0;
    height: 24px;
}

.day-item p {
    margin: 20px 0;
    font-size: 1.3em;
    font-weight: 300;
}

.day-item.selected {
    background: white
}

.day-item.selected a {
    color: #388E3C;
}

.day-item.selected p {
    margin: 18px 0;
    font-size: 1.5em;
    font-weight: 500;
}


/* ****************** */
/*    Day Content     */
/* ****************** */

.date-title,
.week-title {
    margin-right: 8px;
    font-size: 2.5vmax;
}

pre {
    width: 320px;
    height: 300px;
    margin: -80px 0 0 -28px;
}


