/* ****************** */
/*  Top Level Layout  */
/* ****************** */

html,
body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: calc(100% - 85px);
    left: 0;
    background: #4DAF50;
    border-top: 32px solid #323232;
    height: 64px;
    overflow: hidden;
    margin-left: 64px;
    padding-left: 28px;
}

aside {
    float: left;
    background: #323232;
    width: 64px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

aside.extended {
    position: relative;
    height: 100%;
}

nav {
    overflow: hidden;
    margin-left: 64px;
    margin-top: 96px;
}

main {
    overflow: hidden;
    margin-left: 64px;
    padding-left: 28px;
}



/* ****************** */
/*       Header       */
/* ****************** */

header h1 {
    display: inline-block;
    color: white;
    margin: 18px 0;
    font-size: 1.5em;
    font-weight: 100;
}

#refresh {
    float: right;
    height: 64px;
    width: 64px;
}

#refresh img {
    width: 34px;
    height: 34px;
    padding: 15px;
}



/* ****************** */
/*      Sidebar       */
/* ****************** */

aside a {
    height: 64px;
    display: inline-block;
    width: 100%;
    color: white;
}

aside a:hover {
    background: #444444;
}

aside a.selected {
    background: #777777;
}


/* Navigation Button */

#burger-container {
    background: #388E3C;
    border-top: 32px solid #323232;
}

#burger-button {
    border: none;
    padding: 0;
    background: none;
}

#burger-image {
    padding: 8px 10px;
}

.nav-item {
    display: inline-block;
    width: 100%;
    height: 64px;
    float: left;
}

.nav-item.selected {
    background: #777777;
}

.nav-image {
    width: 44px;
    height: 44px;
    padding: 10px;
    float: left;
}

.nav-description {
    display: none;
    line-height: 64px;
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 0 20px;
    height: 0px;
}

.nav-description.visible {
    display: inline-block;
    height: 64px;
}

.nav-content-container {
    display: inline-block;
    height: 64px;
}

#add-data {
    position: fixed;
    bottom: 0;
}



/* ****************** */
/*    Main Content    */
/* ****************** */

main h1 {
    color: black;
    font-size: 1.6em;
    font-weight: 100;
}

main h2 {
    font-size: 0.9em;
    font-weight: 400;
}

pre {
    margin: 0 0 0 -28px;
}

svg .bar {
    fill: #4DAF50;
}

svg .data path {
    stroke: #4DAF50;
}

svg .data circle {
    stroke: #4DAF50;
    fill: #4DAF50;
}


.error {
    display: block;
    background-color: #f2dede;
    border: thin solid #a94442;
    margin: 0 20px;
    max-width: 32em;
    padding: 1em;
    color: #a94442;
}

.success {
    display: block;
    background-color: #DFFFDD;
    border: thin solid #388E3C;;
    margin: 0 20px;
    max-width: 32em;
    padding: 1em;
    color: #388E3C;;
}
